{
  "presets": [
    "babel-preset-expo",
    { "plugins": ["./pathToYourBabelRelayPlugin/babelRelayPlugin"] }
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
